*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: hsla(211, 96%, 62%, 1);
    background: linear-gradient(to right, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
    background: -moz-linear-gradient(to right, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
    background: -webkit-linear-gradient(to right, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#439CFB", endColorstr="#F187FB", GradientType=1 );
    background-position: 240% 240%;
    animation: grediant-animation 10s infinite ease-in;
}

.random{
    min-width: 500px;
    padding: 1rem;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #ccc;
}

h1{
    padding: .7rem 1rem 2rem 1rem;
    font-size: 35px;
    font-weight: 800;
    position: relative;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input{
    width: 50%;
    padding: .3rem .5rem;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    color: black;
    font-weight: 500;
    margin-bottom: 1rem;
}

input[type="number"]::placeholder{
    opacity: .6;
    font-weight: 500;
}

form button{
    /* width: 40%; */
    padding: .4rem 1rem;
    font-size: 16px;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    transition: .3s;
}

form button:hover{
    background-color: rgb(221, 221, 221);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
}

form button:active{
    transform: scale(.97);
}


.Output{
    min-width: 535px;
    background-color: #ccc;
    padding-top: 2rem;
    border-radius: 10%;
    border: none;
    outline: none;
    display: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.textarea output{
    width: 100%;
    outline: none;
    border: none;
    background-color: #ccc;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

/* .output [type="textarea"]::placeholder{ */
    .output textarea::placeholder{
    font-size: 15px;
    font-weight: 500;
    opacity: .6;
    color: black;
    text-align: center;
}

@keyframes grediant-animation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 50% 0%;
    }
    
}